[[source]]
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true
name = "pypi"

[packages]
pip = "==18.0"
django = "==2.1"
bootstrap-admin = "*"
mysqlclient = "*"
django-mdeditor = "*"
pillow = "*"
pygments = "*"
django-pure-pagination = "*"

[dev-packages]

[requires]
python_version = "3.7"
