{% extends 'article/base.html' %}

{% block title %}
<title>首页 - HOLA</title>
{% endblock %}

{% block main %}
  <div class="col-md-9">
      <div id="carouselIndex" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for _ in banner_posts %}
        <li data-target="#carouselIndex" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for bpost in banner_posts %}
        <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
          <a href="{% url 'detail' bpost.short_title %}">
            <img class="d-block w-100 h-400" src="{{ MEDIA_URL }}{{ bpost.image }}">
          </a>
        </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselIndex" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndex" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

      <div class="container bgc mt-3">
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade show active" id="home">
            <ul class="list-group list-group-flush">
            {% for post in posts.object_list %}
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-4" style="overflow: hidden">
                      <a href="{% url 'detail' post.short_title %}">
                        <img class="w-100 img-height" src="{{ MEDIA_URL }}{{ post.image }}">
                      </a>
                    <a class="item-category" href="{% url 'cate_list' post.category.short_name %}">{{ post.category.name }}</a>
                  </div>
                  <div class="col-md-8">
                    <div class="d-flex align-items-start flex-column" style="height: 100%">
                      <div class="pt-0">
                        <h5><a class="item-title" href="{% url 'detail' post.short_title %}">{{ post.title }}</a></h5>
                      </div>
                      <div class="pt-0 meta-text">
                        <i class="iconfont icon-riqi"></i>
                        <span>{{ post.create_time }}</span>
                        {% if post.tag.all %}
                        <i class="iconfont icon-tag ml-3"></i>
                        <span>
                        {% for tag in post.tag.all %}
                          <a href="{% url 'tag_list' tag.name %}">{{ tag.name }}</a>
                        {% endfor %}
                        </span>
                        {% endif %}
                        <i class="iconfont icon-read ml-3"></i>
                        <span>{{ post.views }}</span>
                        <i class="iconfont icon-comment ml-3"></i>
                        <span><a href="{% url 'detail' post.short_title %}#comment-list">{{ post.comments_set.all.count }}</a></span>
                      </div>
                      <div class="pt-2 item-des">
                        {{ post.excerpt | truncatechars:85 }}
                      </div>
                      <div class="mt-auto pb-0 w-100 text-right item-read">
                        <a href="{% url 'detail' post.short_title %}" class="btn btn-success ml-3">阅读全文</a>
                      </div>
                    </div>

                  </div>
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-3 pt-3" style="border-top: 1px solid rgba(0, 0, 0, .125)">
          <ul class="pagination pagination-sm">
{#            <li class="page-item{% if not posts.has_previous %} disabled{% endif %}">#}
{#              <a class="page-link" href="?{{ posts.previous_page_number.querystring }}">&laquo;</a>#}
{#            </li>#}
          {% if posts.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?{{ posts.previous_page_number.querystring }}">&laquo;</a>
            </li>
          {% endif %}
          {% for page in posts.pages %}
              {% if page %}
                  {% ifequal page posts.number %}
                    <li class="page-item active">
                      <span class="page-link">{{ page }}</span>
                    </li>
                  {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?{{ page.querystring }}">{{ page }}</a>
                    </li>
                  {% endifequal %}
              {% else %}

              {% endif %}
          {% endfor %}
{#            <li class="page-item{% if not posts.has_next %} disabled{% endif %}">#}
{#              <a class="page-link" href="?{{ posts.next_page_number.querystring }}">&raquo;</a>#}
{#            </li>#}
          {% if posts.has_next %}
            <li class="page-item">
              <a class="page-link" href="?{{ posts.next_page_number.querystring }}">&raquo;</a>
            </li>
          {% endif %}
          </ul>

        </div>

      </div>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="col-md-3 sidebar-wrap">

    {% block hot_post %}{{ block.super }}{% endblock %}
    {% block hot_tag %}{{ block.super }}{% endblock %}
    <!--
    <div class="card border-light mb-3">
      <ol class="breadcrumb breadcrumb-custom mb-0">
        <li class="breadcrumb-item breadcrumb-item-custom">链接<small class="ml-2 item-small">开源镜像</small></li>
      </ol>
      <div class="card-body card-body-custom">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="iconfont icon-home_title_arrow"></i>
            <a class="item-title" href="https://mirrors.ustc.edu.cn/" target="_blank">中国科学技术大学开源软件镜像</a>
          </li>
          <li class="list-group-item">
            <i class="iconfont icon-home_title_arrow"></i>
            <a class="item-title" href="https://mirrors.tuna.tsinghua.edu.cn/" target="_blank">清华大学开源软件镜像站</a>
          </li>
          <li class="list-group-item">
            <i class="iconfont icon-home_title_arrow"></i>
            <a class="item-title" href="https://opsx.alibaba.com/mirror" target="_blank">阿里云镜像站</a>
          </li>
          <li class="list-group-item">
            <i class="iconfont icon-home_title_arrow"></i>
            <a class="item-title" href="http://mirrors.163.com/" target="_blank">网易镜像站</a>
          </li>
        </ul>
      </div>
    </div>
    -->
  <!--
    <div class="card border-light mb-3">
      <div class="card-body">
        <p class="card-text card-text-custom mb-1">
          © 2018 今日头条
        </p>
        <p class="card-text card-text-custom mb-1">
          京ICP证140141号
        </p>
        <p class="card-text card-text-custom">
          基于 <a href="#">Bootstrap</a> 和 <a href="#">Bootswatch</a> 构建
        </p>
      </div>
    </div>
-->
  </div>
{% endblock %}
